body {
  font-family: Arial, sans-serif;
  background-color: rgb(65, 32, 107);
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  background-color: rgb(42, 19, 72);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(184, 153, 225);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-text {
  flex: 1;
  text-decoration: none;
  color: #e9e2e2;
}

.delete-btn {
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  color: white;
  margin-right: 5px;
}

.delete-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
